config_nodered/flows.json
[{"id":"30ce8ce5.8270d4","type":"tab","label":"MQTT Broker","disabled":false,"info":""},{"id":"7cfe78a0.96ca08","type":"tab","label":"Led_Flow","disabled":false,"info":""},{"id":"c734b5c.95fad48","type":"tab","label":"Effekte_Flow","disabled":false,"info":""},{"id":"86f8666d.290fc8","type":"tab","label":"TestFlow","disabled":false,"info":""},{"id":"42cd5ccf.3d4084","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8510958.084ee68","type":"http in","z":"86f8666d.290fc8","name":"","url":"/setAlarm","method":"post","upload":false,"swaggerDoc":"","x":100,"y":280,"wires":[["b625da8d.05ace8","b061e21c.7a7bc","13df27ba.5bf048"]]},{"id":"b625da8d.05ace8","type":"debug","z":"86f8666d.290fc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":340,"wires":[]},{"id":"b061e21c.7a7bc","type":"function","z":"86f8666d.290fc8","name":"","func":"msg.payload = \"OK\"\nmsg.statusCodeZahl = 200\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":280,"wires":[["e322e7ca.ea95b8"]]},{"id":"e322e7ca.ea95b8","type":"http response","z":"86f8666d.290fc8","name":"","statusCode":"","headers":{},"x":470,"y":280,"wires":[]},{"id":"197ccbf1.537024","type":"http in","z":"86f8666d.290fc8","name":"","url":"/getAlarm","method":"get","upload":false,"swaggerDoc":"","x":100,"y":480,"wires":[["6d9c9e8d.73e7b","5c2bf3c7.fab43c"]]},{"id":"13df27ba.5bf048","type":"function","z":"86f8666d.290fc8","name":"save","func":"flow.set('alarm', msg.payload)\nreturn null;","outputs":1,"noerr":0,"x":330,"y":200,"wires":[[]]},{"id":"6d9c9e8d.73e7b","type":"function","z":"86f8666d.290fc8","name":"load","func":"msg.payload = flow.get('alarm', {})\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":480,"wires":[["ab02c045.ea8a1"]]},{"id":"ab02c045.ea8a1","type":"http response","z":"86f8666d.290fc8","name":"","statusCode":"200","headers":{},"x":450,"y":480,"wires":[]},{"id":"cee12ead.46c68","type":"mosca in","z":"30ce8ce5.8270d4","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"test1234","password":"test1234","dburl":"","x":150,"y":60,"wires":[["d9b8871.0887078"]]},{"id":"d9b8871.0887078","type":"debug","z":"30ce8ce5.8270d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":60,"wires":[]},{"id":"5c2bf3c7.fab43c","type":"debug","z":"86f8666d.290fc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":580,"wires":[]},{"id":"6bd614e1.65153c","type":"http in","z":"7cfe78a0.96ca08","name":"","url":"setRGB","method":"post","upload":false,"swaggerDoc":"","x":120,"y":340,"wires":[["acf420e4.70bcb","b52c8338.ba928","c3792324.91c11","edcf4b0b.98d268"]]},{"id":"b52c8338.ba928","type":"debug","z":"7cfe78a0.96ca08","name":"setRgb","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":360,"y":340,"wires":[]},{"id":"acf420e4.70bcb","type":"function","z":"7cfe78a0.96ca08","name":"OK","func":"msg.payload = \"OK\"\nmsg.statusCodeZahl = 200\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":420,"wires":[["ffcea2d.388d76"]]},{"id":"ffcea2d.388d76","type":"http response","z":"7cfe78a0.96ca08","name":"","statusCode":"200","headers":{},"x":480,"y":420,"wires":[]},{"id":"f729c8a8.4b7df8","type":"inject","z":"7cfe78a0.96ca08","name":"off","topic":"","payload":"{\"r\":255,\"g\":255,\"b\":255,\"a\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":420,"wires":[["c3792324.91c11"]]},{"id":"1e7a85ce.413baa","type":"inject","z":"7cfe78a0.96ca08","name":"on","topic":"","payload":"{\"r\":255,\"g\":255,\"b\":255,\"a\":255}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":380,"wires":[["c3792324.91c11"]]},{"id":"4f29134d.a52bec","type":"mqtt out","z":"7cfe78a0.96ca08","name":"","topic":"wled/led/api","qos":"2","retain":"false","broker":"42cd5ccf.3d4084","x":570,"y":620,"wires":[]},{"id":"c3792324.91c11","type":"function","z":"7cfe78a0.96ca08","name":"","func":"r = msg.payload.r\ng = msg.payload.g\nb = msg.payload.b\na = msg.payload.a\non = 0\nif (msg.payload.on)\n    on = 1\n\nnewMsg = {\n    topic: \"home/ESP_LED/set\",    \n    payload: `R=${r}&G=${g}&B=${b}&A=${a}&T${on}`\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":350,"y":580,"wires":[["4f29134d.a52bec","42b4b99e.86eb18"]]},{"id":"42b4b99e.86eb18","type":"debug","z":"7cfe78a0.96ca08","name":"command wled","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":580,"wires":[]},{"id":"bd598c79.6b52d","type":"http in","z":"7cfe78a0.96ca08","name":"","url":"getRGB","method":"get","upload":false,"swaggerDoc":"","x":110,"y":240,"wires":[["52571f0c.c7d1b","d353b8ba.c86618"]]},{"id":"6903ed2e.744a34","type":"http response","z":"7cfe78a0.96ca08","name":"","statusCode":"200","headers":{},"x":580,"y":260,"wires":[]},{"id":"52571f0c.c7d1b","type":"file in","z":"7cfe78a0.96ca08","name":"","filename":"curColor","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":280,"y":240,"wires":[["a5acda36.c4fdd8"]]},{"id":"a5acda36.c4fdd8","type":"json","z":"7cfe78a0.96ca08","name":"","property":"payload","action":"obj","pretty":false,"x":430,"y":240,"wires":[["6903ed2e.744a34"]]},{"id":"edcf4b0b.98d268","type":"json","z":"7cfe78a0.96ca08","name":"","property":"payload","action":"str","pretty":false,"x":350,"y":500,"wires":[["4aff1405.ee434c"]]},{"id":"4aff1405.ee434c","type":"file","z":"7cfe78a0.96ca08","name":"","filename":"curColor","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"utf8","x":480,"y":500,"wires":[[]]},{"id":"d392bee9.71d21","type":"comment","z":"7cfe78a0.96ca08","name":"send OK response","info":"","x":390,"y":380,"wires":[]},{"id":"22243977.7199f6","type":"comment","z":"7cfe78a0.96ca08","name":"save current color","info":"","x":390,"y":460,"wires":[]},{"id":"fe1c061f.57d698","type":"comment","z":"7cfe78a0.96ca08","name":"load curColor and send the value back","info":"","x":370,"y":200,"wires":[]},{"id":"70022559.04e5fc","type":"comment","z":"7cfe78a0.96ca08","name":"convert to mqtt Msg","info":"","x":390,"y":540,"wires":[]},{"id":"d353b8ba.c86618","type":"debug","z":"7cfe78a0.96ca08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":270,"y":300,"wires":[]},{"id":"f4243632.95eba8","type":"http in","z":"7cfe78a0.96ca08","name":"","url":"ping","method":"get","upload":false,"swaggerDoc":"","x":130,"y":140,"wires":[["7e9dff3a.0d0db","b12a1cc0.d1ae1"]]},{"id":"7e9dff3a.0d0db","type":"http response","z":"7cfe78a0.96ca08","name":"","statusCode":"200","headers":{},"x":330,"y":140,"wires":[]},{"id":"b12a1cc0.d1ae1","type":"debug","z":"7cfe78a0.96ca08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":80,"wires":[]},{"id":"3ac627ef.33d638","type":"inject","z":"c734b5c.95fad48","name":"","topic":"","payload":"FX=73","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":580,"wires":[["b0c040c7.9571b"]]},{"id":"b0c040c7.9571b","type":"mqtt out","z":"c734b5c.95fad48","name":"","topic":"wled/led/api","qos":"2","retain":"false","broker":"42cd5ccf.3d4084","x":470,"y":480,"wires":[]},{"id":"618545af.bcccfc","type":"inject","z":"c734b5c.95fad48","name":"","topic":"","payload":"FX=0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":540,"wires":[["b0c040c7.9571b"]]},{"id":"4cf0f7f1.9b7b38","type":"inject","z":"c734b5c.95fad48","name":"","topic":"","payload":"A=255","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":500,"wires":[["b0c040c7.9571b"]]},{"id":"71119125.da3ac","type":"mqtt out","z":"c734b5c.95fad48","name":"","topic":"wled/led","qos":"2","retain":"false","broker":"42cd5ccf.3d4084","x":500,"y":180,"wires":[]},{"id":"bfbfda02.25c438","type":"inject","z":"c734b5c.95fad48","name":"","topic":"","payload":"FX=63","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":620,"wires":[["b0c040c7.9571b"]]},{"id":"fe3263e9.91b16","type":"inject","z":"c734b5c.95fad48","name":"dim 1min on","topic":"","payload":"NT=255&NF=1&NL=1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":340,"wires":[["b0c040c7.9571b"]]},{"id":"f597c78e.90dd78","type":"inject","z":"c734b5c.95fad48","name":"dim 1min off","topic":"","payload":"NT=0&NF=1&NL=1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":380,"wires":[["b0c040c7.9571b"]]},{"id":"2e501edf.14db82","type":"inject","z":"c734b5c.95fad48","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["71119125.da3ac"]]},{"id":"4d179a8f.1c8c14","type":"inject","z":"c734b5c.95fad48","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["71119125.da3ac"]]},{"id":"78e2a260.2ab2cc","type":"http in","z":"c734b5c.95fad48","name":"","url":"setFX","method":"post","upload":false,"swaggerDoc":"","x":110,"y":660,"wires":[["93875140.a7f92","b0068d6b.d56c5"]]},{"id":"b6a91ae3.4b54a8","type":"http in","z":"c734b5c.95fad48","name":"","url":"wakeup","method":"post","upload":false,"swaggerDoc":"","x":110,"y":300,"wires":[["e4fd7d67.bc4d2","e16c0441.eaf0d8"]]},{"id":"93875140.a7f92","type":"http response","z":"c734b5c.95fad48","name":"","statusCode":"200","headers":{},"x":280,"y":700,"wires":[]},{"id":"b0068d6b.d56c5","type":"template","z":"c734b5c.95fad48","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"FX={{payload.fx}}","output":"str","x":280,"y":660,"wires":[["b0c040c7.9571b"]]},{"id":"e4fd7d67.bc4d2","type":"function","z":"c734b5c.95fad48","name":"","func":"duration = msg.payload.duration\nif (msg.payload.wakeup == 1)\n    msg.payload = `NT=255&NF=1&NL=${duration}`\nelse\n    msg.payload = `NT=0&NF=1&NL=${duration}`\n    \nreturn msg;","outputs":1,"noerr":0,"x":270,"y":300,"wires":[["b0c040c7.9571b"]]},{"id":"e16c0441.eaf0d8","type":"http response","z":"c734b5c.95fad48","name":"","statusCode":"200","headers":{},"x":280,"y":260,"wires":[]},{"id":"315884c2.a1395c","type":"http in","z":"7cfe78a0.96ca08","name":"","url":"setCmd","method":"post","upload":false,"swaggerDoc":"","x":330,"y":620,"wires":[["4f29134d.a52bec","42b4b99e.86eb18"]]},{"id":"d66d1626.3f95f8","type":"inject","z":"7cfe78a0.96ca08","name":"","topic":"","payload":"T=0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":660,"wires":[["4f29134d.a52bec"]]},{"id":"ef693896.74d698","type":"inject","z":"7cfe78a0.96ca08","name":"","topic":"","payload":"T=1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":700,"wires":[["4f29134d.a52bec"]]}]